{% extends 'base.html' %}

{% block content %}
    <span class="title">
        <h1>{% block title %} {{ student.firstname }} {{ student.lastname }}{% endblock %}</h1>
    </span>
    <div class="content">
            <div class="student">
                <p><b>ID: {{ student.id }}</b></p>
                <b>
                    <p class="name">{{ student.firstname }} {{ student.lastname }}</p>
                </b>
                <p>Mail ID: {{ student.email }}</p>
                <p>DoB: {{ student.dob }}</p>
                <p>Amount Due: {{ student.amt_due }}</p>
                <p>Bio: {{ student.bio }}</p>
                </div>
            </div>
    </div>
{% endblock %}
